
@font-face {
	font-family: 'proxima';
	src: url('../assets/fonts/proxima/regular.woff2') format('woff2'),
		 url('../assets/fonts/proxima/regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
